.lx-separator {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--lx-separator-color, var(--lx-color-neutral-quaternary));
}