<LxSidebar Width="(280, Unit.Pixel)">
    <Header>
        <h2 class="p-4">DEMO</h2>
    </Header>
    <Content>
        <LxSidebarButton Label="Theme" Icon="static://format_paint" Link="./demo/theme" />
        @*<LxSidebarButton Label="Hover/Active" Link="./demo/hover-active" />*@
        <LxSidebarGroup>
            <Header>Input</Header>
            <Content>
                <LxSidebarButton Label="Button" Icon="static://mouse" Link="./demo/button" />
                <LxSidebarButton Label="Checkbox" Icon="static://check_box" Link="./demo/checkbox" />
                <LxSidebarButton Label="Input" Icon="static://edit" Link="./demo/input" />
                <LxSidebarButton Label="Toggle" Icon="static://radio_button_unchecked" Link="./demo/toggle" />
                <LxSidebarButton Label="DateTimePicker" Icon="static://date_range" Link="./demo/datetimepicker" />
                <LxSidebarButton Label="Select" Icon="static://view_stream" Link="./demo/select" />
                <LxSidebarButton Label="Switch" Link="./demo/switch" />
                <LxSidebarButton Label="Chip-/Tag" Icon="static://label" Link="./demo/chip-tag" />
                <LxSidebarButton Label="Chip-/TagCollection" Icon="static://label" Link="./demo/chip-tagcollection" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>Navigation</Header>
            <Content>
                <LxSidebarButton Label="Sidebar" Icon="static://menu" Link="./demo/sidebar" />
                <LxSidebarButton Label="TabBar" Link="./demo/tabbar" />
                <LxSidebarButton Label="TabView" Link="./demo/tabview" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>Presentation</Header>
            <Content>
                <LxSidebarButton Label="Transition" Link="./demo/transition" />
                <LxSidebarButton Label="Expandable" Link="./demo/expandable" />
                <LxSidebarButton Label="Icon" Icon="static://insert_emoticon" Link="./demo/icon" />
                <LxSidebarButton Label="Frame" Icon="static://crop_3_2" Link="./demo/frame" />
                <LxSidebarButton Label="Paging" Link="./demo/paging" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>Modals</Header>
            <Content>
                <LxSidebarButton Label="Modal" Link="./demo/modal" />
                <LxSidebarButton Label="Toast" Link="./demo/toast" />
            </Content>
        </LxSidebarGroup>
    </Content>
    <Footer>
        <span class="d-block p-4">© 2020 leeax</span>
    </Footer>
</LxSidebar>