<LxSidebar Width="(280, Unit.Pixel)">
    <Header>
        <h2 class="p-4">DEMO</h2>
    </Header>
    <Content>
        <LxSidebarButton Label="Theme" Icon="rsrc://google.materialdesign/format_paint" Link="./demo/theme" />
        @*<LxSidebarButton Label="Hover/Active" Link="./demo/hover-active" />*@
        <LxSidebarGroup>
            <Header>Input</Header>
            <Content>
                <LxSidebarButton Label="Button" Icon="rsrc://google.materialdesign/mouse" Link="./demo/button" />
                <LxSidebarButton Label="Checkbox" Icon="rsrc://google.materialdesign/check_box" Link="./demo/checkbox" />
                <LxSidebarButton Label="Input" Icon="rsrc://google.materialdesign/drive_file_rename_outline" Link="./demo/input" />
                <LxSidebarButton Label="TextArea" Icon="rsrc://google.materialdesign/drive_file_rename_outline" Link="./demo/textarea" />
                <LxSidebarButton Label="Toggle" Icon="rsrc://google.materialdesign/toggle_off" Link="./demo/toggle" />
                <LxSidebarButton Label="DateTimePicker" Icon="rsrc://google.materialdesign/date_range" Link="./demo/datetimepicker" />
                <LxSidebarButton Label="Select" Icon="rsrc://google.materialdesign/view_stream" Link="./demo/select" />
                <LxSidebarButton Label="Switch" Link="./demo/switch" />
                <LxSidebarButton Label="Chip-/Tag" Icon="rsrc://google.materialdesign/local_offer" Link="./demo/chip-tag" />
                <LxSidebarButton Label="Chip-/TagCollection" Icon="rsrc://google.materialdesign/style" Link="./demo/chip-tagcollection" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>Navigation</Header>
            <Content>
                <LxSidebarButton Label="Sidebar" Icon="rsrc://google.materialdesign/menu" Link="./demo/sidebar" />
                <LxSidebarButton Label="TabBar" Icon="rsrc://google.materialdesign/tab" Link="./demo/tabbar" />
                <LxSidebarButton Label="TabView" Icon="rsrc://google.materialdesign/tab" Link="./demo/tabview" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>Presentation</Header>
            <Content>
                <LxSidebarButton Label="Transition" Icon="rsrc://google.materialdesign/animation" Link="./demo/transition" />
                <LxSidebarButton Label="Skeleton" Icon="rsrc://google.materialdesign/hourglass_empty" Link="./demo/skeleton" />
                <LxSidebarButton Label="Icon" Icon="rsrc://google.materialdesign/insert_emoticon" Link="./demo/icon" />
                <LxSidebarButton Label="Frame" Icon="rsrc://google.materialdesign/crop_3_2" Link="./demo/frame" />
                <LxSidebarButton Label="Paging" Icon="rsrc://google.materialdesign/library_books" Link="./demo/paging" />
                <LxSidebarButton Label="Expandable" Link="./demo/expandable" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>Modals</Header>
            <Content>
                <LxSidebarButton Label="Modal" Icon="rsrc://google.materialdesign/web_asset" Link="./demo/modal" />
                <LxSidebarButton Label="Toast" Icon="rsrc://google.materialdesign/feedback" Link="./demo/toast" />
            </Content>
        </LxSidebarGroup>
        <LxSidebarGroup>
            <Header>JSInterop</Header>
            <Content>
                <LxSidebarButton Label="Clipboard" Icon="rsrc://google.materialdesign/content_paste" Link="./demo/jsinterop/clipboard" />
            </Content>
        </LxSidebarGroup>
    </Content>
    <Footer>
        <span class="d-block p-4">© 2021 leeax</span>
    </Footer>
</LxSidebar>