@page "/demo/toggle"

<div class="px-3">
    <ComponentInfo Type="typeof(LxToggle)" />
    <Demo>
        <Content>
            <div class="flex-row mb-3">
                <LxToggle Appearance="Appearance.Normal"
                          Size="Size"
                          IsEnabled="IsEnabled"
                          @bind-Value="IsActive" />
                <LxSeparator Class="my-1 mx-2" />
                <LxToggle Appearance="Appearance.Outlined"
                          Size="Size"
                          IsEnabled="IsEnabled"
                          @bind-Value="IsActive" />
                <LxSeparator Class="my-1 mx-2" />
                <LxToggle Appearance="Appearance.Raised"
                          Size="Size"
                          IsEnabled="IsEnabled"
                          @bind-Value="IsActive" />
            </div>
            <div>
                <LxToggle Appearance="Appearance"
                          Size="Size"
                          IsEnabled="IsEnabled"
                          @bind-Value="IsActive" />
            </div>
        </Content>
        <Customization>
            <Entry Text="Size">
                <LxSelect Items="Enum.GetValues(typeof(ComponentSize)).Cast<ComponentSize>()"
                          Converter="DefaultOptionConverter<ComponentSize>.Instance"
                          Placeholder="Nothing selected"
                          @bind-Value="Size" />
            </Entry>
            <Entry Text="Appearance">
                <LxSelect Items="Enum.GetValues(typeof(Appearance)).Cast<Appearance>()"
                          Converter="DefaultOptionConverter<Appearance>.Instance"
                          Placeholder="Nothing selected"
                          @bind-Value="Appearance" />
            </Entry>
            <Entry Text="Enabled">
                <LxToggle @bind-Value="IsEnabled" />
            </Entry>
            <Entry Text="Active">
                <LxToggle @bind-Value="IsActive" />
            </Entry>
        </Customization>
    </Demo>
</div>

@code{

    private bool IsActive { get; set; }

    private ComponentSize Size { get; set; } = ComponentSize.Medium;

    private Appearance Appearance { get; set; } = Appearance.Normal;

    private bool IsEnabled { get; set; } = true;

}