@namespace Leeax.Web.Components.Presentation
@inherits LxComponentBase

@if (_isSourceResource)
{
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" @attributes="AttributeSet">
        @if (_sourceMarkup != null)
        {
            @((MarkupString)_sourceMarkup)
        }
    </svg>
}
else
{
    <div @attributes="AttributeSet">
        <img src="@Source"
             alt="@(Alt ?? AltDefaultValue)"
             class="position-absolute" />
    </div>
}