@namespace Leeax.Web.Components.Input
@inherits LxComponentBase

<div @attributes="AttributeSet">
    @if (Items != null)
    {
        foreach (var curItem in Items)
        {
            <LxChip Label="@curItem.Text"
                    Icon="@curItem.Icon"
                    Size="Size"
                    Appearance="Appearance"
                    IsStatic="IsStatic"
                    IsRemovable="IsRemovable"
                    IsActive="curItem.IsActive"
                    IsActiveChanged="@(value => OnItemChanged(curItem, value))"
                    Removed="@(() => OnItemRemoved(curItem))" />
        }
    }
</div>