@namespace Leeax.Web.Components.Modals
@inherits LxComponentBase

<div @attributes="AttributeSet">
    @foreach (var curState in RenderService.ActiveToasts)
    {
        <LxToastHost State="curState" @key="curState" />
    }
</div>