.lx-toastrenderer {
    position: fixed;
    z-index: var(--lx-zindex-toast, 1000);
}

    .lx-toastrenderer.lx-valignment-top {
        top: 10px;
        bottom: 10px;
    }

    .lx-toastrenderer.lx-halignment-left {
        left: 10px;
    }

    .lx-toastrenderer.lx-halignment-right {
        right: 10px;
    }

    .lx-toastrenderer.lx-halignment-center {
        left: 50%;
    }

        .lx-toastrenderer.lx-halignment-center ::deep .lx-toast {
            position: relative;
            margin-left: -50%;
            margin-right: 50%;
        }

    .lx-toastrenderer ::deep > .lx-toast:not(:last-child) {
        margin-bottom: 5px;
    }


::deep .lx-toast {
    border-radius: .25rem;
    background-color: var(--lx-toast-background, var(--lx-color-neutral-white));
}

    ::deep .lx-toast.t-enter {
        transform: translateX(25%);
        opacity: 0;
    }

    ::deep .lx-toast.t-leave-to {
        transform: translateY(-25%);
        opacity: 0;
    }

    ::deep .lx-toast.t-enter-to,
    ::deep .lx-toast.t-leave-active {
        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    }