@namespace Leeax.Web.Components.Input
@inherits ValueComponentBase<bool>

<label @attributes="AttributeSet">
    <input type="checkbox"
           checked="@Value"
           @onchange="OnValueChanged" />
</label>