::deep .lx-modal-background {
    position: fixed;
    z-index: var(--lx-zindex-modal, 1000);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.35);
}

    ::deep .lx-modal-background.t-enter,
    ::deep .lx-modal-background.t-leave-to {
        background: none;
    }

    ::deep .lx-modal-background.t-enter-to {
        transition: background 120ms;
    }

    ::deep .lx-modal-background.t-leave-active {
        transition: background 70ms;
    }

    /* lx-modal */
    ::deep .lx-modal {
        position: absolute;
        min-height: 100px;
        min-width: 300px;
        width: fit-content;
        border-radius: .5rem;
        background-color: var(--lx-modal-background, var(--lx-color-neutral-white));
    }

    /* alignment & transition */
    ::deep .lx-modal.lx-alignment-top {
        top: 0;
        margin-top: 20px;
    }
    
    ::deep .lx-modal-background.t-leave-to .lx-modal.lx-alignment-top,
    ::deep .lx-modal-background.t-enter .lx-modal.lx-alignment-top {
        transform: translate(-50%, -10%);
    }

    ::deep .lx-modal.lx-alignment-bottom {
        bottom: 0;
        margin-bottom: 20px;
    }
    
    ::deep .lx-modal-background.t-leave-to .lx-modal.lx-alignment-bottom,
    ::deep .lx-modal-background.t-enter .lx-modal.lx-alignment-bottom {
        transform: translate(-50%, 10%);
    }

    ::deep .lx-modal.lx-alignment-top,
    ::deep .lx-modal.lx-alignment-bottom {
        left: 50%;
        transform: translateX(-50%);
    }

    ::deep .lx-modal.lx-alignment-left {
        left: 0;
        margin-left: 20px;
    }

    ::deep .lx-modal-background.t-leave-to .lx-modal.lx-alignment-left,
    ::deep .lx-modal-background.t-enter .lx-modal.lx-alignment-left {
        transform: translate(-10%, -50%);
    }
    
    ::deep .lx-modal.lx-alignment-right {
        right: 0;
        margin-right: 20px;
    }
    
    ::deep .lx-modal-background.t-leave-to .lx-modal.lx-alignment-right,
    ::deep .lx-modal-background.t-enter .lx-modal.lx-alignment-right {
        transform: translate(10%, -50%);
    }
    
    ::deep .lx-modal.lx-alignment-left,
    ::deep .lx-modal.lx-alignment-right {
        top: 50%;
        transform: translateY(-50%);
    }
    
    ::deep .lx-modal.lx-alignment-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    ::deep .lx-modal-background.t-enter .lx-modal.lx-alignment-center {
        transform: translate(-50%, -30%) scale(0.75);
    }
    
    ::deep .lx-modal-background.t-leave-to .lx-modal.lx-alignment-center {
        transform: translate(-50%, -50%) scale(0.75);
    }

    ::deep .lx-modal-background.t-enter .lx-modal,
    ::deep .lx-modal-background.t-leave-to .lx-modal {
        opacity: 0;
    }
    
    ::deep .lx-modal-background.t-enter-to .lx-modal {
        transition: opacity 70ms ease-out, transform 90ms ease-out;
    }
    
    ::deep .lx-modal-background.t-leave-active .lx-modal {
        transition: opacity 70ms ease-in, transform 70ms ease-in;
    }