@namespace Leeax.Web.Components.Modals
@inherits LxComponentBase

<div @attributes="AttributeSet">
    @if (RenderService.ActiveModal != null)
    {
        <LxModal State="RenderService.ActiveModal" 
                 @key="RenderService.ActiveModal.ComponentKey" />
    }
</div>