@namespace Leeax.Web.Components.Modals
@inherits LxComponentBase

<header @attributes="AttributeSet">
    @if (Icon != null)
    {
        <LxIcon Source="@Icon" Size="(1.4, Unit.EM)" />
    }
    @if (Title != null)
    {
        <div class="lx-font-weight-semibold lx-font-size-1">@Title</div>
    }
    @if (AllowClose)
    {
        <div class="ml-auto">
            <LxButton Size="ComponentSize.Tiny"
                      Appearance="Appearance.Inline"
                      Clicked="@(x => Context?.Close())">
                <LxButtonIcon Source="rsrc://leeax.web.components/close" />
            </LxButton>
        </div>
    }
</header>