@page "/demo/theme"
@inject IThemeHandler ThemeHandler

<div class="px-3">
    <h1 class="mt-4 mx-1 d-inline-block">Theme and Coloring</h1>
    <Demo>
        <Content>
            <span>No demo available.</span>
        </Content>
        <Customization>
            <Entry Text="Theme">
                <LxSelect Items="ThemeHandler.Themes.Keys"
                          Converter="DefaultOptionConverter<string>.Instance"
                          @bind-Value="ThemeHandler.ActiveTheme" />
            </Entry>
        </Customization>
    </Demo>
</div>